[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
nltk = "*"
requests = "*"
scikit-learn = "*"
bs4 = "*"
transformers = "*"
spacy = "*"
summarizer = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
markdown = "*"
rich = "*"
install = "*"
asciidoc = "*"
html2text = "*"
click = "*"
docutils = "*"
bert-extractive-summarizer = "*"
gensim = "*"
sentencepiece = "*"
pytest = "*"
mock = "*"
codecov = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
